.navbar {
    .inner_navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav-links {
            ul {
                display: flex;
                list-style: none;
                gap: 40px;
                text-decoration: none;
                position: relative;

                li {
                    padding: 10px 20px;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-size: 16px;
                    font-family: sans-serif;
                    text-decoration: none;
                    color: #686868;

                    &:hover {
                        .dropdown {
                            display: block;
                        }
                    }

                    .dropdown {
                        position: absolute;
                        display: flex;
                        border: 1px solid red;
                        width: 400px;
                        top: 100%;
                        display: inline-block;
                        left: 150px;
                        // display: none;
                        border-radius: 5px;
                        border: 1px solid #686868;


                        li {
                            padding: 15px 5px;
                            border-bottom: 1px solid #686868;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .national-languages {
            display: flex;
            gap: 30px;

            select {
                border: none;
                font-size: 15px;
                font-weight: 600;
                font-family: sans-serif;
                color: #282828;
            }

            select:active,
            :focus {
                outline: none;
            }
        }
    }
}